<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Word Cloud</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/wordcloud")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content auto">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/wordcloud")
    @RenderSection("scripts", required: false)    
</body>
</html>
